# Dependencies
node_modules/

# Environment Variables (Keep secrets out of GitHub!)
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Optional: Ignore the public folder if you are automatically copying 
# your built React files here during local development
public/